*{
    list-style: none;
}

.instituto__title{ 
    width: 100vw;
    font-size: 40px;
    color: #feca64;
    font-style: italic;
    text-align: center;
}

.instituto__nav-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 0;
}

.instituto__nav__recursos{
    width: 200px;
    cursor: pointer;
    user-select: none;
    margin: 5px 0;
    padding: 15px;
    text-align: center;
    background: #feca64;
    color: black;
    transition: background-color 0.2s;
    font-weight: bold;
    border: 1px solid black;
}

.instituto__nav__recursos:hover{
    background-color: #4C0100;
    color: white;
}