.imageViewer-back{
    font-size: 40px;
    padding: 5px;
    align-self: baseline;
    margin: 0 100px;
    user-select: none;
    color: #feca64;
    cursor: pointer;
}

.imageViewer-back:hover{
    color: #ddb056;
}

.imageViewer-container{
    display: flex;
    justify-content: center;
}

.imageViewer-image{
    width: 100%;
}