.institute__resource-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    background-color: #feca64;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    gap: 20px;
}

.institute__resource-name{
    margin: 0;
    font-size: 25px;
}

.institute__resource-meta-container{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.institute__resource-buttons-container{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.institute__resource-download-button, .institute__resource-view-button{
    height: 50px;
    width: 180px;
    font-size: 30px;
}

@media only screen and (min-width: 1095px){
    .institute__resource-section{
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
    .institute__resource-meta-container{
        justify-content: flex-start;
    }
}